extends layout

block content
    .w3-card-4
        header.w3-container(style='background-color:SteelBlue')
            h2(style='color:white') 
                b Adicionar Noticia
        form.w3-container(method="POST" action="/noticia/adicionar")
            fieldset
                label
                    b Curso
                select.w3-select.w3-round(name="cursoId" id="cursoId" required)
                    option(value="" disabled selected) Selecione um Curso
                    each curso in Cursos
                        option(value=curso._id)=curso.designacao
                label
                    b Recurso
                select#recursoSelect.w3-select.w3-round(name="idRecurso")
                    option(value="" disabled selected) Selecione um Recurso
                label
                    b Conteudo
                textarea.w3-input.w3-round(name="conteudo" required)
                label
                    b Autor
                input.w3-input.w3-round(type="text" name="autor" placeholder="Introduza um Autor")
                
            br
            button.w3-btn.w3-green.w3-mb-2(type="submit") 
                b Publicar

    script.
        var Recursos = !{JSON.stringify(Recursos)};
        document.getElementById('cursoId').addEventListener('change', function() {
            var cursoId = this.value;
            var recursoSelect = document.getElementById('recursoSelect');
            recursoSelect.innerHTML = '<option value="" disabled selected>Selecione um Recurso</option>';
            Recursos.forEach(function(recurso) {
                if (recurso.cursoId === cursoId) {
                    var option = document.createElement('option');
                    option.value = recurso._id;
                    option.textContent = recurso.titulo;
                    recursoSelect.appendChild(option);
                }
            });
        });
